* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link,
a:visited {
    text-decoration: none;
    font-family: 'Asap', sans-serif;
}

ul {
    list-style: none;
}


.img-fluid {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.section-heading {
    font-size: 2.25rem;
    text-align: center;
    padding: 1.25rem 0;
    text-transform: capitalize;
}